{% extends 'base.html' %}
{% block title %}
Iris Classifier
{% endblock %}

{% block content %}
<section id="Classify" class="py-2 py-md-5 bg-secondary text-white">
    <div class="container pt-md-3 pb-4">
        <div class="row justify-content-center mt-3">
            <div class="col-12 col-md-4  text-center  p-4 pb-5 py-md-0 p-md-3 ">
                <h4>About</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro rem quasi
                    perspiciatis accusamus
                    id saepe
                    reiciendis quisquam dolores modi, totam vero fugit ratione, at excepturi ducimus laboriosam
                    nulla.
                </p>
                <div id="IrisCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner rounded">
                        <div class="carousel-item active">
                            <img src="{{ url_for('static', filename='1.jpg') }}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{{ url_for('static', filename='2.jpg') }}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{{ url_for('static', filename='3.jpg') }}" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#IrisCarousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#IrisCarousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4 p-3">
                <div class="container bg-dark rounded">
                    <form class="px-4 py-4" action="" method="POST">
                        <div class="row mb-2">
                            <label for="sepal_length" class="form-label">Sepal Length</label>
                            <div class="row">
                                <div class="col-11">
                                    <input oninput="updateRangeVal('sl_val', this.value)" type="range"
                                        class="form-range" min="1" max="5" step="0.1" id="sepal_length"
                                        name="sepal_length">
                                </div>
                                <div class="col-1">
                                    <span id="sl_val">2.5</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="sepal_width" class="form-label">Sepal Width</label>
                            <div class="row">
                                <div class="col-11">
                                    <input oninput="updateRangeVal('sw_val', this.value)" type="range"
                                        class="form-range" min="1" max="5" step="0.1" id="sepal_width"
                                        name="sepal_width">
                                </div>
                                <div class="col-1">
                                    <span id="sw_val">2.5</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="petal_length" class="form-label">Petal Length</label>
                            <div class="row">
                                <div class="col-11">
                                    <input oninput="updateRangeVal('pl_val', this.value)" type="range"
                                        class="form-range" min="1" max="5" step="0.1" id="petal_width"
                                        name="petal_length">
                                </div>
                                <div class="col-1">
                                    <span id="pl_val">2.5</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="petal_width" class="form-label">Petal Width</label>
                            <div class="row">
                                <div class="col-11">
                                    <input oninput="updateRangeVal('pw_val', this.value)" type="range"
                                        class="form-range" min="1" max="5" step="0.1" id="petal_width"
                                        name="petal_width">
                                </div>
                                <div class="col-1">
                                    <span id="pw_val">2.5</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="n_neighbors" class="form-label">N-Neighbors</label>
                            <div class="row">
                                <div class="col-11">
                                    <input oninput="updateRangeVal('nn', this.value)" type="range" class="form-range"
                                        min="1" max="9" step="2" id="n_neighbors" name="n_neighbors">
                                </div>
                                <div class="col-1">
                                    <span id="nn">3</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <button type="submit" onclick="predict()" class="btn btn-secondary mx-auto mt-3"> Predict
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-12 col-md-4 p-3">
                <div class="container flex flex-column rounded p-0"
                    style="background-color: #f4f4f4; min-height:450px;">
                    <div class="pb-2 pt-3 w-100 bg-dark rounded-top " role="alert">
                        <h4 class="text-center">Result</h4>
                    </div>
                    <div class="container">
                        {% if preds == [] %}
                        <div class="d-flex flex-column align-items-center" id="before-predict">
                            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24"
                                style=" margin-top:28%;  color:#a8a9ab; fill:currentColor;">
                                <path
                                    d="M13 8h-8v-1h8v1zm0 2h-8v-1h8v1zm-3 2h-5v-1h5v1zm11.172 12l-7.387-7.387c-1.388.874-3.024 1.387-4.785 1.387-4.971 0-9-4.029-9-9s4.029-9 9-9 9 4.029 9 9c0 1.761-.514 3.398-1.387 4.785l7.387 7.387-2.828 2.828zm-12.172-8c3.859 0 7-3.14 7-7s-3.141-7-7-7-7 3.14-7 7 3.141 7 7 7z" />
                            </svg>
                            <span class="fs-5 text-center mt-4" style="color:#a8a9ab;margin-bottom:28%;"><b>Make
                                    Predict</b></span>
                        </div>
                        {% else %}
                        <!-- Hasil Prediksi -->
                        <div class="progress mx-auto mt-5" data-value='{{ accuracy }}'>
                            <span class="progress-left">
                                <span class="progress-bar border-primary"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar border-primary"></span>
                            </span>
                            <div
                                class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                <div class="text-light h2 font-weight-bold">{{ accuracy }}<sup class="small">%</sup>
                                </div>
                            </div>
                        </div>
                        <div class="text-center text-dark h3 mt-3 mb-auto">{{ preds[0] }}</div>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<footer class="container-fluid bg-dark position-absolute mb-0 text-white">
    <p class="text-center m-auto py-3">
        Made by <a href="https://github.com/aldy-san">Nur Syahrial Maulidi</a> and <a
            href="https://github.com/sykrabadi"> Muhammad Syukur Abadi</a>
    </p>
</footer>
{% endblock %}