{% extends 'base.html' %}
{% block title %}
Iris Classifier
{% endblock %}

{% block content %}
<section id="Classify">
    <h1 class="text-center pt-3">Classify</h1>
    <div class="container p-5 d-flex">
        <div class="container m-4">
            <!-- Carousel for iris image -->
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="height: 400px; width: 400px;">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ url_for('static', filename='photo-1559333421-1ffcd0f39500.jpg') }}"
                            class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ url_for('static', filename='photo-1559333421-1ffcd0f39500.jpg') }}"
                            class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ url_for('static', filename='photo-1559333421-1ffcd0f39500.jpg') }}"
                            class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="container text-center m-4">
            <form action="" method="POST">
                <div>
                    <p>Sepal Length</p>
                    <input type="range" min="1" max="5" name="sepal_length">
                </div>
                <div>
                    <p>Sepal Width</p>
                    <input type="range" min="1" max="5" name="sepal_width">
                </div>
                <div>
                    <p>Petal Length</p>
                    <input type="range" min="1" max="5" name="petal_length">
                </div>
                <div>
                    <p>Petal Width</p>
                    <input type="range" min="1" max="5" name="petal_width">
                </div>
                <div>
                    <p>N-Neighbors</p>
                    <input type="range" min="1" max="5" name="n_neighbors">
                </div>
                    <button type="submit" class="btn btn-primary"> Predict </button>
            </form>
        </div>
    </div>
</section>

<section id="AboutTheApp">
    <h1 class="text-center pt-3">About The App</h1>
    <div class="container">
        <div class="container p-2 text-center">
            <h2>The Classifier</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro rem quasi perspiciatis accusamus id saepe reiciendis quisquam dolores modi, totam vero fugit ratione, at excepturi ducimus laboriosam nulla. Similique, totam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam animi nulla rem vitae, quibusdam veritatis explicabo placeat fuga mollitia corporis? Quisquam mollitia itaque aspernatur veritatis repellendus pariatur, soluta id adipisci.</p>
        </div>
        <div class="container p-2 text-center">
            <h2>The Coder</h2>
            <div class="container d-flex">
                <div>
                    <h3>Nur Syahrial Maulidi</h3>
                    <!-- Foto Aldi -->
                    <img src="" alt="">

                    <!-- Self Promote di sini -->
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus vitae esse quod maiores quas fugiat placeat rem facere? Doloremque sed neque aspernatur rerum error modi sit, tenetur enim magnam ut.</p>
                </div>
                <div>
                    <h3>Muhammad Syukur Abadi</h3>
                    <!-- Foto Syukur -->
                    <img src="" alt="">
                   
                    <!-- Self Promote di sini -->
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus vitae esse quod maiores quas fugiat placeat rem facere? Doloremque sed neque aspernatur rerum error modi sit, tenetur enim magnam ut.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}